<header
  class="navbar"
  style="
    background: #4fa095
      url(https://www.orissahighcourt.nic.in/images/inner-page-banner-background.png)
      no-repeat right;
  "
>
  <div class="container">
    <div class="image">
      <img src="https://highcourtofuttarakhand.gov.in/logo/logo.gif" alt="" />
    </div>
    <h1 class="logo">Daily Board App</h1>
    <div class="header">
      <nav class="nav-links">
        <ul>
          <li><i class="pi pi-home"></i> <a href="/home">Home</a></li>
          <li><i class="pi pi-briefcase"></i><a href="/case">My Cases</a></li>
          <li>
            <i class="pi pi-calendar-times"></i><a href="/calender">Calendar</a>
          </li>
          <li>
            <i class="pi pi-bell"></i> <a href="/notification">Notification</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<!-- <div class="navbar">
  <h1
  style="
  float: left;
  margin-top: -0%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(80, 81, 83);
  "
>
Daily Board App
</h1>


<p-tabMenu 
  [model]="[
    { label: 'Home', icon: 'pi pi-fw pi-home', routerLink: '/home' },
    { label: 'My Cases', icon: 'pi pi-fw pi-file', routerLink: '/case' },
    { label: 'Settings', icon: 'pi pi-fw pi-cog' },
    { label: 'Notification', icon: 'pi pi-fw pi-bell', routerLink:'/notification' },
  ]"
></p-tabMenu>





</div> -->
